@import "tailwindcss";

@theme {

  /* Colors */
  --color-primary: #1DA1F2;
  --color-primary-hover: #0F81C7;
  --color-primary-active: #0F7CBF;

  --color-grey: #F5F8FA;
  --color-very-light-grey: #E8E0E2;
  --color-light-grey: #A3A3A3;
  --color-dark: #3D6C93;

  --color-red: #E0245E;
  --color-red-light: #F5C6CB;
  --color-red-very-light: #F8D7DA;

  --color-green: #17BF63;
  --color-green-ligt: #B8E8D9;
  --color-green-very-light: #D1F0E5;


  /* UI Variable */
  --color-error: var(--color-red);
  --color-error-bg: var(--color-red-very-light);
  --color-error-border: var(--color-red-light);

  --color-success: var(--color-green);
  --color-success-bg: var(--color-green-very-light);
  --color-success-border: var(--color-green-light);

  --color-border: var(--color-very-light-grey);
  --color-element: var(--color-light-grey);

  --color-fg: var(--color-dark);
  --color-bg: var(--color-grey);
}

@layer base {
  .indicator {
    height: 4px;
    border-radius: 4px;
    width: 15%;
    margin-right: 8px;
  }
  
  .indicator-container {
    flex-direction: row;
    display: flex;
  }
}

 